body {
  font-family: sans-serif;
}
.App {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

#true {
  background-color: rgb(184, 204, 212);
}

#false {
  background-color: black;
}

span {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}