.container-fluid {
    align-self: center;
    margin: 5ex;
    background-color: #007bff;
    border-radius: 1ex;
}

.container {
    background-color: white;
    border-radius: 3ex;
}

#inputText {
    width: 30ex;
}

textarea {
    width: 30ex;
    height: 10ex;
}

#editButton {
    color: white;
    border-radius: 1ex;
    background-color: #dc3545;
    border-color: #dc3545
}

#deleteButton {
    color: white;
    border-radius: 1ex;
    background-color: #dc3545;
    border-color: #dc3545
}

#ItemButton {
    background-color: #007bff;
    ;
    color: white;
    width: 100%;
}