.App {
  text-align: center;
}

.articles-page {
  text-align: center;
}

.articles-list {
  padding-left: 12%;
  padding-right: 12%
}

.articles-list>div:nth-child(odd) {
  background-color: #ddd;
}

.landing-page {
  text-align: center;
  margin-top: 5%;
}

.options {
  padding-top: 10%;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(6, auto);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.single-article {
  display: grid;
  grid-template-columns: repeat(2, auto);
  cursor: pointer;
}

.articles-Image {
  height: 100px;
  width: 110px
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}